body {
  padding-bottom: 4em;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0px;
}
svg {
  /*max-width: 98%;*/
  box-shadow: 0 0 10px #ddd;
  border-radius: 6px;
  overflow: auto;
  min-width: 640px;
}
svg g.tile {
  cursor: pointer;
  opacity: 0.8;
}
svg g.tile:hover {
  opacity: 1;
}
#popup{
  position:fixed;
  top:0;
  opacity:0.8;
}
#popup:hover{
  opacity:1;
}
.btn-row{
  padding: 0.5em;
}
