body{
  padding-bottom: 4em;
  text-align:center;
}
footer{
  position:fixed;
  bottom:0px;
}

svg{
  max-width: 98%;
  box-shadow: 0 0 10px #ddd;
  border-radius: 6px;
  overflow: auto;
  min-width: 640px;
}
